<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form for adding cupcake</title>
</head>
<body>
    <form>
        <label for="flavorFor">Flavor</label>
        <input id="flavorFor" type="text" name="flav" placeholder="enter flavor">
        <br>
        <br>
        <label for="sizeFor">Size</label>
        <input id="sizeFor" type="text" name = "sizeCupacke" placeholder="enter size">
        <br>
        <br>

        <label for="imageFor">Image</label>
        <input id="imageFor" type="text" name="imageCupcake" placeholder="enter URL for image">
        <br>
        <br>

        <label for="ragingFor" >Rating</label>
        <input id="ragingFor" type="number" name="ratingCupcake" placeholder="Enter rating"> 
        <br>
        <br>
        <button>Add Cupcake</button>

    </form>
    
</body>
</html>


